.App {
  text-align: center;
  background-color: #42a680;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  width: 100vw;
 
  
  
}

#Home {
  height: 100vh;
  display: flex;
  background-image: url('/cool-background.png');
  background-size: cover;
  background-repeat: no-repeat;
 
}

#About, #Projects, #Contact {
  height: 100vh;

  display: flex;
  background-image: url('/cool-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

#Skills {
 display: flex;
 width: 100%;

}

/* #About {
  justify-content: space-evenly;
} */

#Home {
justify-content: center;
align-items: center;
/* background-color: #2A4E6D; */
}

.Footer{
  display: flex;
  align-items: flex-end;
}

#Home .home-menu {
  /* display: flex; */
  justify-content: space-evenly;
}


